{% extends 'users/base.html' %}
{% load social_share %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Header -->
  <div style="
      width: 100%;
      height: 100%;
      padding-left: 64px;
      padding-right: 64px;
      padding-top: 8px;
      padding-bottom: 8px;
      justify-content: center;
      align-items: flex-start;
      gap: 868px;
      display: inline-flex;">
    <div style="
        align-self: stretch;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        display: inline-flex;">
      <div style="
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
          display: flex;">
          <i class="fas fa-phone"></i>

        <div
          style="
            text-align: center;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            line-height: 13px;
            word-wrap: break-word;
          "
        >
          (02) 8068 9051
        </div>
      </div>
      <div
        style="
          justify-content: flex-start;
          align-items: center;
          display: flex;">
        <i class="fas fa-envelope"></i>

        <div style="width: 16px; height: 16px; position: relative">
          <div
            style="
              width: 16px;
              height: 12px;
              left: 0px;
              top: 2px;
              position: absolute;
            "
          >
            <div
              style="
                width: 16px;
                height: 12px;
                left: 0px;
                top: 0px;
                position: absolute;

              "
            ></div>
            <div
              style="
                width: 14px;
                height: 4px;
                left: 1px;
                top: 2px;
                position: absolute;

              "
            ></div>
          </div>
        </div>
        <div
          style="
            text-align: center;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            line-height: 13px;
            word-wrap: break-word;
          "
        >
          info@mieducation.com.au
        </div>
      </div>
    </div>
    <div
      style="
        align-self: stretch;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        display: inline-flex;
      "
    >
      <div
        style="
          width: 16px;
          height: 16px;
          justify-content: center;
          align-items: center;
          display: flex;
        "
      >
        <div
          style="
            width: 16px;
            height: 16px;
            position: relative;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            display: flex;
          "
        >
<!--&lt;!&ndash;          <div style="width: 16px; height: 13px;">&ndash;&gt;-->
<!--&lt;!&ndash;            <img&ndash;&gt;-->
<!--            style="-->
<!--              width: 16px;-->
<!--              height: 15.9px;-->
<!--              left: 0px;-->
<!--              top: 0px;-->
<!--              position: absolute;-->
<!--            "-->
<!--            src="{% static 'users/images/twitter.png' %}"-->
<!--          />-->
<!--          </div>-->
        </div>
      </div>
      <div style="width: 16px; height: 16px; position: relative">
               <a href="https://www.instagram.com/moves_international_/" target="_blank">
        <img
          style="
            width: 16px;
            height: 15.9px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
          src="{% static 'users/images/instagram.png' %}"
        />
               </a>
      </div>

      <div style="width: 16px; height: 16px; position: relative">
        <div
          style="
            width: 16px;
            height: 16px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
            <a href="https://www.facebook.com/mieducationsydney/" target="_blank">

        <img
        style="
          width: 16px;
          height: 15.9px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
        src="{% static 'users/images/facebook.png' %}"
      />
            </a>
        </div>
      </div>
      <div style="width: 16px; height: 16px; position: relative">
        <div
          style="
            width: 15.33px;
            height: 10.67px;
            left: 0.33px;
            top: 0px;
            position: absolute;
          "
        >
             <a href="https://www.youtube.com/channel/UCkYOrSrqLljTOvP37t6ZAjQ/" target="_blank">
            <img
        style="
          width: 16px;
          height: 15.9px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
        src="{% static 'users/images/youtube.png' %}"
      />
             </a>
          <div
            style="
              width: 4.13px;
              height: 2.52px;
              left: 6.09px;
              top: 3.04px;
              position: absolute;
            "
          >

        </div>

        </div>
      </div>
    </div>
  </div>
<hr style="border-color: black; border-width: 1px;">
<header style="background-color: #CBD5D4; text-align:center;">
    <h2 class="display-4">About Us</h2>
</header>
<br>
<br>
<body style="background-color: #CBD5D4;">
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'users/images/h4-about1.png' %}" class="img-fluid" alt="visa consultant sydney">
        </div>
        <div class="col-md-6">
            <div class="jumbotron" style="background-color: #023047;">
                <h3 style="color:white"> Our MISSION</h3>
                <p style="color:white">"To give people the power to share and make the world more open and connected."</p>
                <br>
                <br>
                <br>
                <h3 style="color:white"> Our VISION</h3>
                <p style="color:white">"One day, all youth in this nation will have the opportunity to attain an excellent career."</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="background-color: #023047; color : white;">
                    <i class="flaticon-policy"></i>
                    <h2>Proper Guidance</h2>
                    <p>Our dedication will provide the right guidance to solve all the issues.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="background-color: #023047; color : white;">
                    <i class="flaticon-contract"></i>
                    <h2>Right Actions</h2>
                    <p>We follow our sure-shot strategies which will work for you always.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<section class="jumbotron text-white text-center" style="background-color: #023047;">
    <h4 style="color: #FB8500;">ABOUT CONSULTANT</h4>
    <h3 style="color: #FB8500;">What <strong>Are We?</strong></h3>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Moves International is Australia's trusted bridge to education and migration, partnering with 100+ universities for accurate guidance and offering expertise in visa processes. Moves International is the leading catalyst for international students seeking transformative educational and career opportunities in Australia, paving the way for their brightest futures. Guiding students with bespoke solutions tailored to their unique needs, facilitating seamless migration to Australia, and ensuring every student realizes their highest potential and career aspirations.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    90%
                </div>
            </div>
            <p class="mt-2">Immigration Consultant</p>
        </div>
    </div>


        <section>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-xl-8 text-center">
                    <h3 class="mb-4">Testimonials</h3>
                    <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                        <p>If you believe in us, we would love to provide the most wonderful guidance to study, travel, and live in Australia.</p>
                        <p>Want to migrate to Australia? Discuss with us.</p>
                        <p>Want to study in Australia? We can help you.</p>
                        <p>Want to extend your visa of subclass 485? We can do that for you.</p>
                        <p>In short, Contact us for everything because we are sitting next to you only to help you.</p>
                    </p>
                </div>
            </div>

            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
                    <div class="card testimonial-card">
                        <div class="card-up" style="background-color: #9d789b;"></div>
                        <div class="avatar mx-auto bg-white">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                                class="rounded-circle img-fluid" />
                        </div>
                        <div class="card-body">
                            <h4 class="mb-4">Maria Smantha</h4>
                            <hr />
                            <p class="dark-grey-text mt-4">
                                <i class="fas fa-quote-left pe-2"></i>Stable architecture
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
                    <div class="card testimonial-card">
                        <div class="card-up" style="background-color: #7a81a8;"></div>
                        <div class="avatar mx-auto bg-white">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                                class="rounded-circle img-fluid" />
                        </div>
                        <div class="card-body">
                            <h4 class="mb-4">Lisa Cudrow</h4>
                            <hr />
                            <p class="dark-grey-text mt-4">
                                <i class="fas fa-quote-left pe-2"></i>Quality Content
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0 d-flex align-items-stretch">
                    <div class="card testimonial-card">
                        <div class="card-up" style="background-color: #6d5b98;"></div>
                        <div class="avatar mx-auto bg-white">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                                class="rounded-circle img-fluid" />
                        </div>
                        <div class="card-body">
                            <h4 class="mb-4">John Smith</h4>
                            <hr />
                            <p class="dark-grey-text mt-4">
                                <i class="fas fa-quote-left pe-2"></i>Great implementation i loved it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <br>
    <br>

        <div class="share-icons social-sharing">
            <h3>Share about us:</h3>
            <div class="sharethis-inline-share-buttons"></div>
        </div>

    </div>


  <section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #023047; ">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Make a booking </span>
               <a class="btn btn-primary" style="background-color: #FB8500; margin-left: 10px;" href="{% url 'profile' %}" >Book Appointment</a>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
<hr style="border-color: white; border-width: 1px;">

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #023047;">
        © 2023 Copyright:
        <a class="text-white" href="home.html">Moves International</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>

</div>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% include "live_chat/partials/chat_bubble.html" %}
    <script src="{% static 'live_chat/js/live_chat.js' %}" defer></script>
</body>
</html>
{% endblock %}