{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		</ul>
		<form class="form-inline my-2 my-lg-0">

		</form>
	</div>
<br>
<br>
<div class="container" style="background-color: #023047; border-radius: 20px;">
	<!--<h1 class="text-center my-3 display-2 ">
		<b>Contact Us</b>
	</h1>-->
	<br>
	<form action="/contact" method="post">
		{% csrf_token %}

		<div class="mb-3 py-2">
			<table>
				<tr>
					<td>
						<label for="exampleFormControlInput1" class="form-label"><b>Name</b></label>
					</td>
					<td>
						<input type="text" class="form-control" style="display: inline; margin: .375rem .75rem"  id="exampleFormControlInput1" name="name"
							   placeholder="Enter your Name">
					</td>
				</tr>
				<tr>
					<td>
						<label for="exampleFormControlInput1" class="form-label"><b>Email id</b></label>

					</td>

					<td>
						<input type="email" class="form-control"  style="display: inline; margin: .375rem .75rem"  id="exampleFormControlInpu2" name="email"
							   placeholder="Enter your Email">

					</td>
				</tr>
				<tr>
					<td>
						<label for="exampleFormControlInput1" class="form-label"><b>Phone number</b></label>

					</td>

					<td>
						<input type="text" class="form-control"   style="display: inline; margin: .375rem .75rem"  id="exampleFormControlInput3" name="phone"
							   placeholder="Enter your Phone number">

					</td>
				</tr>

			</table>
		<div class="mb-3 py-2">
			<label for="exampleFormControlTextarea1" class="form-label"><b>How can we help you?</b></label>
			<textarea class="form-control"   style="display: inline; width: 100%"  id="exampleFormControlTextarea1" rows="7" name="desc"></textarea>
		</div>
		</div>

		<button type="submit" class="btn btn-primary btn-lg " style="background-color: #FB8500;">Submit</button>
		<br>
	</form>
</div>

{% endblock content%}