{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
    <div class="content-container ">
        <div class="container-fluid" >
            <div class="container">
                <div class="row mt-4">
                    <div class="col-12 text-center bounce">
                        <p><strong>Moves International</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <h4 class="cright"><em>Moves That Matters...</em></h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>About Us</h3>
                        <p>Moves International is Australia's trusted bridge to education and migration, partnering with 100+ universities for accurate guidance and offering expertise in visa processes.</p>
                        <p>Moves International is the leading catalyst for international students seeking transformative educational and career opportunities in Australia, paving the way for their brightest futures.</p>
                        <p>Guiding students with bespoke solutions tailored to their unique needs, facilitating seamless migration to Australia, and ensuring every student realizes their highest potential and career aspirations.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>Our Vision..</h3>
                        <p>"One day, all youth in this nation will have the opportunity to attain an excellent career."</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>Our Mission..</h3>
                        <p>"To give people the power to share and make the world more open and connected."</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>


            <div class="container mt-5">
                <div class="row mt-4">
                    <div class="col-12 text-center bounce">
                        <p><strong>Moves International</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <h4 class="cright"><em>Moves That Matters...</em></h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>About Us</h3>
                        <p>Moves International is Australia's trusted bridge to education and migration, partnering with 100+ universities for accurate guidance and offering expertise in visa processes.</p>
                        <p>Moves International is the leading catalyst for international students seeking transformative educational and career opportunities in Australia, paving the way for their brightest futures.</p>
                        <p>Guiding students with bespoke solutions tailored to their unique needs, facilitating seamless migration to Australia, and ensuring every student realizes their highest potential and career aspirations.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>Our Vision..</h3>
                        <p>"One day, all youth in this nation will have the opportunity to attain an excellent career."</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>Our Mission..</h3>
                        <p>"To give people the power to share and make the world more open and connected."</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>


            <div class="container mt-5">
                <div class="row mt-4">
                    <div class="col-12 text-center bounce">
                        <p><strong>Moves International</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <h4 class="cright"><em>Moves That Matters...</em></h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>About Us</h3>
                        <p>Moves International is Australia's trusted bridge to education and migration, partnering with 100+ universities for accurate guidance and offering expertise in visa processes.</p>
                        <p>Moves International is the leading catalyst for international students seeking transformative educational and career opportunities in Australia, paving the way for their brightest futures.</p>
                        <p>Guiding students with bespoke solutions tailored to their unique needs, facilitating seamless migration to Australia, and ensuring every student realizes their highest potential and career aspirations.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>Our Vision..</h3>
                        <p>"One day, all youth in this nation will have the opportunity to attain an excellent career."</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>Our Mission..</h3>
                        <p>"To give people the power to share and make the world more open and connected."</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>


            <div class="container mt-5">
                <div class="row mt-4">
                    <div class="col-12 text-center bounce">
                        <p><strong>Moves International</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <h4 class="cright"><em>Moves That Matters...</em></h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>About Us</h3>
                        <p>Moves International is Australia's trusted bridge to education and migration, partnering with 100+ universities for accurate guidance and offering expertise in visa processes.</p>
                        <p>Moves International is the leading catalyst for international students seeking transformative educational and career opportunities in Australia, paving the way for their brightest futures.</p>
                        <p>Guiding students with bespoke solutions tailored to their unique needs, facilitating seamless migration to Australia, and ensuring every student realizes their highest potential and career aspirations.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>Our Vision..</h3>
                        <p>"One day, all youth in this nation will have the opportunity to attain an excellent career."</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <h3>Our Mission..</h3>
                        <p>"To give people the power to share and make the world more open and connected."</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}