
{% extends 'users/base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<body style="background-color: #CBD5D4;">

    <h1 style="text-align: center;">User Profile</h1>
    <br>
    <br>

    <div style="display: flex; justify-content: center; align-items: start; gap: 20px;">
        <!-- Profile Picture -->
        <img src="{{ user_profile.user.profile_picture }}" alt="Profile Picture" style="max-width: 200px; border-radius: 50%;">

        <!-- User Details with Bold Keys -->
        <div>
            <p><strong>Username:</strong> {{ user_profile.user.username }}</p>
            <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
            <p><strong>First Name:</strong> {{ user_profile.user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user_profile.user.last_name }}</p>
        </div>
    </div>

    <!-- Edit Profile Link (centered below the image and details) -->
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'profile' %}" style="color:#fb8500;">Edit Profile</a>
    </div>

</body>


{% endblock %}