<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Css Style -->
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'users/css/bootstrap-social.css' %}" type="text/css">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-oBqDVmMz2fnFO9gybBTRuwVlfB6v3fA6Vj5w9zeTlCw3UuTzC5nkrQOmFN3Y18lN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-WSNiERhpZ8FO+XZnAdBvy5z9zFEIetMMDz4tRM7IjH/1D21Aas3pXMbS5l5/lbE2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-6De9TQfz8V8hQ33bVLN3Mq8sWJcG4l6W9ARsiYf9zU5Lr1W6f0A5njdj0t5foOcS" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-BO1C5Fs5F0xq+7H7I3sCIfJrCw5TF4Dz1lDmTRyjXz9NoY/K6ZIkjCQ8B/6I3aw" crossorigin="anonymous"></script>

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">-->
    <!--Font Link-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- JS -->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6501c64795430c0012210b90&product=inline-share-buttons&source=platform" async="async"></script>
    <script src="{% static 'users/js/navbar.js' %}" defer></script>

  </head>
  <body>
  {% load static %}

    <nav class="navbar navbar-expand-sm navbar-dark sticky-top navbar-custom" id="main-navbar" style ="background-color:#023047;">
        <a href="#" class="navbar-brand" >
          <!-- Logo Image -->
          <img src="{% static 'users/images/logo.png' %}" width="150" alt="" class="d-inline-block align-middle mr-2">
          <!-- Logo Text -->
          <span class="text-uppercase font-weight-bold" href="{% url 'home' %}" >Moves International</span>
        </a>
        <div class="container-fluid" >
          <div class="collapse navbar-collapse" id="" >
            <div class="navbar-nav">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
<a class="nav-link" href="#">Visa Application</a>
<a class="nav-link" href="{% url 'about_us' %}" >About Us</a>
<a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
            </div>
<div class="navbar-nav ml-auto">
    <form class="navbar-nav" id="registration">
        {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Welcome, {{ request.user.username }}</a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    <li><a class="dropdown-item" href="{% url 'live_chat:admin' %}"> Chat Admin </a></li>
                </ul>
            </div>
        {% else %}
            <a href="{% url 'register' %}" class="btn btn-primary btn-sm" style="color: white; background-color: #fd5e14;" id="header-links"> Sign Up </a>
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm" style="color: white; background-color: #fd5e14; margin-left: 10px;" id="header-links">Log In</a>
        {% endif %}
    </form>
    <form class="navbar-nav" id="appointment-form">
        {% if user.is_authenticated %}
            <a href="{% url 'book_appointment' %}" class="btn btn-primary btn-sm" style="color: white; background-color: #fd5e14;" id="header-links"> Book Appointment </a>
        {% else %}
            <a href="{% url 'book_appointment' %}" class="btn btn-primary btn-sm" style="color: white; background-color: #fd5e14;" id="header-links"> Book Appointment </a>
        {% endif %}
    </form>
</div>
          </div>
        </div>
    </nav>

    <div>
      <div class="container">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
      {% endif %}
      </div>
      {% block content %}
      {% endblock content %}
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>