{% extends 'payment/base.html' %}
{% load static %}
{% block content %}
<form id="payment-form">
    {% csrf_token %}
    <div id="card-element">
        {{ form.as_p }}
        <!-- A Stripe Element will be inserted here. -->
    </div>
<!-- Add hidden fields for student and consultant email addresses -->
    <input type="hidden" name="student_email" value="{{ student_email }}">
    <input type="hidden" name="consultant_email" value="{{ consultant_email }}">

    <button id="submit">
        Pay Now
    </button>
</form>

<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payment/js/payment.js' %}"></script>
{% endblock %}